html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow-anchor: none;
  font-family:"SFProDisplay", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
