@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

.container {
  max-width: 1153px;
  padding: 0 15px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 64px;
  width: 100%;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 31px 0px 15px 0px;
  }
}

@include burger;

.fixed-menu.header {
  min-height: 72px;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: mymove 2s;
  -webkit-animation-fill-mode: forwards;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  transition: .4s;
  .header__block {
   padding: 15px 0px;
  }
}
.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 16px;
  }
}
.fixed-menu .text-logo {
  display: block;
}
.text-logo {
  display: none;
}
.header-menu {
  
  .icon-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
}
.nav-menu {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #000;
  z-index: 100;
}

.menu-wrapper-mobile {
  padding-top: 50px;
  ul {
    li {
      color: #fff;
      text-transform: uppercase;
      list-style: none;
      text-align: center;
      padding: 5px 0px;
      font-size: 42px;
      font-family: "MorebiRounded", sans-serif;
      font-weight: 400;
    }
    .active {
      color: #A2F21E;
    }
  }
}

.logo-menu {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  width: 100px;
  margin: 0px auto;
}

.menu-wrapper {
  display: none;
}
.menu__text {
  display: none;
}

@media screen and (min-width: 779px) {
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 145px;
    max-width: 725px;
    width: 100%;
    margin: 0px auto;
  }
  .fixed-menu .menu__text {
    display: none;
  }
  .menu__text {
    display: block;
    color: #fff;
    font-family: "SFProDisplay", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 10px;
  }
  .burger-check:checked ~ .menu__text {
    display: block;
    z-index: 1000;
  }
/* End Burgers menu */
}
.btn-text--mob {
  display: none;
}


.section {
  min-height: 900px;
  width: 100%;
  background: url('../img/bg1.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  &__title {
    padding-top: 286px;
    padding-bottom: 56px;
  }
}
.title {
  color: #fff;
  font-family: "MorebiRounded", sans-serif;
  font-size: 47px;
  font-weight: 400;
}

.button {
  width: 100%;
  margin-top: 8px;
}
.btn-top {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #A2F21E;
  font-size: 17px;
  padding: 20px 66px;
  color: #fff;
  margin: 0px 15px;
  border-radius: 50px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.section-service {
  width: 100%;
  min-height: 1000px;
  background-color: #323234;
  text-align: center;
  padding-bottom: 200px;
}
.title-section {
  padding-top: 140px;
}
.title__bottom {
  color: #fff;
  text-align: center;
  max-width: 530px;
  margin: 0px auto;
  padding-top: 27px;
  padding-bottom: 106px;
  font-size: 26px;
  line-height: 37px;
}
.block-service {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
  .service-img {
    max-width: 544px;
    height: 340px;
    img {
      width: 100%;
      height: auto;
      max-width: 544px;
    }
  }
  @media (max-width: (780px)) {
    .service-img {
      order: -1;
    }
  }
  @media (max-width: (380px)) {
    .service-img {
      height: 270px;
    }
  }
  .block-service-text {
    max-width: 352px;
  }
  .service__text--line {
    @include service-text-styles;
    &::after {
      @include after-block;
      transform: rotate(180deg);
      right: -100px;
    }
    @media (max-width: (781px)) {
      &::after  {
        min-width: 0;
        width: 24px;
        height: 105px;
        background: url('../img/elipce-mob.svg') no-repeat;
        background-size: cover;
        right: 140px;
        transform: rotate(0deg);
        top: -50px;
      }
    }
    @media (max-width: (520px)) {
      &::after  {
        
        right: 70px;
        top: -90px;
      }
    }
    @media (max-width: (468px)) {
      &::after  {
        
        right: 70px;
        top: -140px;
      }
    }
    @media (max-width: (380px)) {
      &::after  {
        
        right: 30px;
        top: -110px;
      }
    }
  }
  @media (max-width: (780px)) {
    .service__text--line  {
      text-align: right;
    }
  }
  @media (max-width: (520px)) {
    .service__text--line  {
      justify-content: flex-end;
      padding-top: 30px;
      padding-right: 15px;
    }
  }
  @media (max-width: (468px)) {
    .service__text--line  {
      justify-content: flex-end;
      padding-top: 0px;
      padding-right: 15px;
    }
  }
  
  .service__text--line1 {
    @include service-text-styles;
    &::after {
      @include after-block;
      left: -100px;
    }
    @media (max-width: (781px)) {
      &::after  {
        min-width: 0;
        width: 24px;
        height: 105px;
        background: url('../img/elipce-mob.svg') no-repeat;
        background-size: cover;
        left: 140px;
        top: -50px;
      }
    }
    @media (max-width: (520px)) {
      &::after  {
        
        left: 70px;
        top: -90px;
      }
    }
    @media (max-width: (380px)) {
      &::after  {
        
        left: 30px;
        top: -110px;
      }
    }
  }
  @media (max-width: (520px)) {
    .service__text--line1  {
      text-align: left;
      justify-content: start;
      padding-top: 30px;
      padding-left: 15px;
    }
  }
  @media (max-width: (380px)) {
    .service__text--line1  {
      padding-top: 0;
    }
  }
  
  .service-text {
    
    .service-title {
      color: $globalGreen;
      font-weight: 300;
      padding-bottom: 15px;
      font-size: 26px;
      letter-spacing: 1.5px;
    }
    h4 {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      padding-top: 32px;
      letter-spacing: 1px;
    }
    @media (max-width: (468px)) {
      h4 {
        padding-top: 20px;
      }
    }
  }
  @media (max-width: (980px)) {
    .service-title {
      color: $globalGreen;
      font-weight: 300;
      padding-bottom: 15px;
      font-size: 26px;
      letter-spacing: 1.5px;
    }
    h4 {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      padding-top: 10px;
      letter-spacing: 1px;
    }
  }
}
.container-service {
  max-width: 1147px;
  margin: 0px auto;
  padding: 0px 15px;
}

@include md;


.section-experience {
  position: relative;
  width: 100%;
  min-height: 750px;
  background: #151515;
  &::before {
    content: '';
    width: 100%;
    min-height: 250px;
    display: block;
    background: url('../img/bg-top-section.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -242px;
  }
  @media (max-width: (680px)) {
    &::before {
      background: url('../img/bg-top-section-mob.png') no-repeat center;
      background-size: cover;
      min-height: 116px;
      top: -110px;
    }
  }
  @media (max-width: (480px)) {
    &::before {
      background: url('../img/bg-top-section-mob.png') no-repeat center;
      background-size: cover;
      min-height: 90px;
      top: -88px;
    }
  }
  @media (max-width: (380px)) {
    &::before {
      background: url('../img/bg-top-section-mob.png') no-repeat center;
      background-size: cover;
      min-height: 75px;
      top: -74px;
    }
  }
  &::after {
    content: '';
    width: 100%;
    min-height: 122px;
    display: block;
    background: url('../img/bg-bott.png') no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -120px;
    z-index: 10;
  }
  @media (max-width: (680px)) {
    &::after  {
      background: url('../img/bg-bott-mob.png') no-repeat center;
      background-size: cover;
      min-height: 60px;
      bottom: -58px;
    }
  }
  @media (max-width: (480px)) {
    &::after {
      background: url('../img/bg-bott-mob.png') no-repeat center;
      background-size: cover;
      min-height: 50px;
      bottom: -48px;
    }
  }
  @media (max-width: (380px)) {
    &::after  {
      background: url('../img/bg-bott-mob.png') no-repeat center;
      background-size: cover;
      min-height: 35px;
      bottom: -32px;
    }
  }
  
  
  .block-experience {
    padding-top: 30px;
    text-align: center;

    .items-experience {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1150px;
      padding: 30px 15px;
      width: 100%;
      margin: 0px auto;
      .item-block {
        max-width: 320px;
        padding: 15px 10px;
        h3 {
          font-size: 45px;
          color: #fff;
          font-family: "SFProDisplay", sans-serif;
          font-weight: 700;
          padding: 10px 0px;
          span {
            display: inline-block;
            width: 27px;
            height: 27px;
            background: url('../img/3.svg') no-repeat center;
            background-size: cover;
            position: relative;
            z-index: 10;
            top: -10px;
          }
        }
        h4 {
            color: #fff;
            font-weight: 300;
            font-size: 13px;
            font-family: 'SFProDisplay', sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
      }
      @media (max-width: (680px)) {
        .item-block {
          max-width: 250px;
        }
      }
    }
    @media (max-width: (780px)) {
      .items-experience {
        flex-direction: column;
        padding: 10px 0px;
      }
    }
  }
  @media (max-width: (780px)) {
    .block-experience {
      padding-top: 0;
    }
  }
}

.review {
  width: 100%;
  min-height: 900px;
  background: url('../img/slide-bg.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  .reviews-block {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    
    
    .slick-dots {

      .slick-active {
        background-color: #61EC3C;
        border-radius: 50px;
        width: 30px;
      }
      
      li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        margin: 0px 5px;
        z-index: 10;
        position: relative;
        transition: 0.3s;
        background-color: #fff;

        button {
          
          display: none;
        }
      }
    }
    @media (max-width: (780px)) {
      .slick-dots {
        display: none;
      }
    }

    .slide-item {
      max-width: 928px;
      width: 100%;
      margin: 0px auto;
      img {
        margin: 0px auto;
      }

      .review-text {
        padding: 46px 0px 60px 0px;
      }
      h4 {
        font-size: 27px;
        font-weight: 400;
        span {
          color: #A2F21E;
        }
      }
    }
  }
}
@media (max-width: (780px)) {
  .review {
    padding-top: 0;
    min-height: 700px;
  }
}
.prev {
  display: none;
}
.next {
  display: none;
}
.block-image-circul {
  display: none;
}
@media (max-width: (480px))  {
  .block-image-circul {
    display: block;
    width: 100%;
    left: 0;
    img {
      width: 100%;
    }
  }
}

.section-global {
  min-height: 776px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url('../img/bg-section-glob.jpg') no-repeat center;
  background-size: cover;
  .logo-global {
    display: none;
  }
  @media (max-width: (480px)) {
    .logo-global  {
      display: block;
      padding: 10px 0px;
    }
  }
  .global-title {
    max-width: 360px;
    color: #fff;
    padding-left: 15px;
    .text-global {
      font-size: 17px;
      padding: 26px 0px;
      line-height: 28px;
      a {
        color: #23D5FF;
      }
    }
  }
}
.container-global {
  width: 100%;
  max-width: 1123px;
  margin: 0px auto;
}
@media (max-width: (480px)) {
  .section-global {
    background: #00030e;
    min-height: 350px;
  }
  .global-title {
    padding-top: 50px;
    padding-right: 15px;
  }
}
.contact {
  width: 100%;
  min-height: 800px;
  background: #0F1218;
  color: #fff;
  .block-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    .item-contact {
      max-width: 448px;
      width: 100%;
      .text-contact {
        font-size: 17px;
        padding: 15px 0px;
        line-height: 28px;
      }
      .contact-detail {
        padding-top: 20px;
        max-width: 352px;
        .visibil-icon {
          opacity: 0;
        }
        @media (max-width: (680px)) {
          .visibil-icon {
            opacity: 1;
          }
        }
        .mail-text {
          padding: 10px 15px;
        }
        @media (max-width: (680px)) {
          .mail-text  {
            font-size: 14px;
          }
        }
        h4 {
          color: #61EC3C;
          font-size: 17px;
          font-family: "MorebiRounded", sans-serif;
          font-weight: 400;
        }
        .local-contact {
          display: flex;
          align-items: center;
          padding: 25px 0px;
          img {
            border-radius: 3px;
            width: 30px;
            height: 20px;
          }
          .text-location {
            padding: 0px 15px;
          }
          @media (max-width: (680px)) {
            .text-location {
              font-size: 14px;
            }
          }
        }
      }
    }
    .item-form {
      max-width: 544px;
      width: 100%;
      .form-action {
        min-width: 280px;
        background-color: transparent;
        padding: 10px 0px;
        .wrapp-form {
          padding: 10px;
        }
        .input-name {
          width: 100%;
          color: #999999;
          height: 63px;
          border-radius: 5px;
          display: block;
          text-indent: 10px;
          margin-bottom: 17px;
          font-size: 17px;
          border: none;
          background-color: #323234;
        }
        @media (max-width: (680px)) {
          .input-name {
            font-size: 13px;
          }
        }
        .input-anything {
          height: 100px;
        }
        .btn-form {
          width: 257px;
          height: 63px;
          border: none;
          color: #000;
          letter-spacing: 1px;
          font-size: 17px;
          font-family: "SFProDisplay" sans-serif;
          font-weight: 600;
          background: url('../img/bg-btn.png') no-repeat center;
          cursor: pointer;
        }
        @media (max-width: (680px)) {
          .btn-form {
            background: url('../img/btn-mob-bg.png') no-repeat center;
            height: 75px;
            width: 200px;
            padding: 10px 30px;
            text-align: center;
            display: flex;
            margin: 0px auto;
          }
        }
        .input__wrapper {
          width: 100%;
          position: relative;
          text-align: center;
          padding-bottom: 30px;
        }
         
        .input__file {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
         
        .input__file-icon-wrapper {
          height: 40px;
          width: 40px;
          margin-right: 7px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
         
        .input__file-button-text {
          line-height: 1;
          margin-top: 1px;
          letter-spacing: 1px;
          border-bottom: 1px solid #fff;
        }
         
        .input__file-button {
          width: 135px;
          height: 40px;
          color: #fff;
          font-size: 17px;
          font-weight: 400;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          cursor: pointer;
        }
        @media (max-width: (680px)) {
          .input__file-button {
            margin: 0px auto;
          }
        }
      }
    }
  }
  @media (max-width: (680px)) {
    .block-contact {
      padding-top: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .visibil-icon {
        opacity: 1;
      }
    }
  }
}
.footer {
  width: 100%;
  background-color: #000;
  min-height: 318px;
  .copyright {
    font-size: 10px;
    color: #A1F421;
    font-family: "Mulish" sans-serif;
    font-weight: 400;
    padding-top: 20px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 74px;
    max-width: 605px;
    width: 100%;
    margin: 0px auto;
    
  }
  @media (max-width: (680px)) {
    .footer-content {
      display: none;
    }
    .copyright-desk {
      display: none;
    }
  }
}

.footer-social {
  display: none;
  color: #fff;
}
@media (max-width: (680px)) {
  .footer-social {
    max-width: 200px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: block;
    padding-top: 70px;
    padding-bottom: 50px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px;
      text-align: left;
      span {
        padding-left: 10px;
        width: 85px;
      }
    }
  }
}
.item {
  max-width: 172px;
  margin: 0px 15px;
  .link-menu {
    color: #323234;
    font-size: 24px;
    font-family: "Mulish" sans-serif;
    font-weight: 800;
    padding-bottom: 16px;
    display: block;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      font-size: 18px;
      font-family: "Mulish" sans-serif;
      font-weight: 400;
      color: #fff;
      list-style: none;
      padding: 5px 0px;
    }
  }
}
.item {
  max-width: 172px;
  margin: 0px 15px;
  .footer-link {
    color: #323234;
    font-size: 17px;
    font-family: "Mulish" sans-serif;
    font-weight: 400;
    padding-bottom: 16px;
    display: block;
  }
  .link-list {
    padding: 0;
    margin: 0;
    li {
      font-size: 13px;
      font-family: "Mulish" sans-serif;
      font-weight: 400;
      color: #fff;
      list-style: none;
      padding: 5px 0px;
    }
  }
}

@include mobile;

